<body>
    <div class="row" style="margin-left: 0;">
        <h5 style="margin: 15px; padding: 15px">Dashboard</h5>
    </div>
    <div id="mainBanner" class="container-md"></div>
    <div class="row col-12">
        <div class="col-8">
            <div class="card text-white bg-strong-blue mb-3 m-3" style="flex-direction: row; align-items: center;">
                <div class="col-10"> 
                    <div class="card-body ms-sm-2">
                        <h5 class="card-title">Welcome to Vital Care !</h5>
                        <p class="card-text">Monitor and manage the health of your patients.</p>
                        <button type="button" class="btn btn-info text-white d-block w-25">Start</button>
                    </div>
                </div>
                <div class="col-2">
                    <span id="iconBanner">
                        <img alt="medic-icon" src="/assets/icons/cardiogram.png" style="width: 80px; height: 80px">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-dark bg-white mb-3 m-3 border-0">
                <div class="card-body">
                    <div class="row">
                        <span></span>
                        <p class="card-text">Daniel Gomez Perez</p>
                    </div>
                    <div class="row">
                        <p class="card-text">Room 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-3">
            <div class="card text-dark bg-white mb-3 m-3 border-0">
                <div class="card-body">
                    <div class="row">
                        <span>
                            <img src="assets/icons/blood.png" style="height: 50px; width: 50px">
                        </span>
                        <p class="card-text">Blood Pressure</p>
                    </div>
                    <div class="row">
                        <p id="parameter" class="card-text"><b>110/70</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-dark bg-white mb-3 m-3 border-0">
                <div class="card-body">
                    <div class="row">
                        <span>
                            <img src="assets/icons/heart-rate.png" style="height: 50px; width: 50px">
                        </span>
                        <p class="card-text">Heart Rate</p>
                    </div>
                    <div class="row">
                        <p id="parameter" class="card-text"><b>85 BMP</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-dark bg-white mb-3 m-3 border-0">
                <div class="card-body">
                    <div class="row">
                        <span>
                            <img src="assets/icons/high-temperature.png" style="height: 50px; width: 50px">
                        </span>
                        <p class="card-text">Temperature</p>
                    </div>
                    <div class="row">
                        <p id="parameter" class="card-text"><b>98.06</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-dark bg-white mb-3 m-3 border-0">
                <div class="card-body">
                    <div class="row">
                        <span>
                            <img src="assets/icons/human-lungs.png" style="height: 60px; width: 60px">
                        </span>
                        <p class="card-text">Oxygenation</p>
                    </div>
                    <div class="row">
                        <p id="parameter" class="card-text"><b>83 mm Hg</b></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row col-12">
        <div class="col-7">
            <div class="card text-dark bg-white mb-3 m-3 border-0">
                <div class="card-body">
                    <div class="row">
                        <span></span>
                        <p class="card-text">Highcharts</p>
                    </div>
                    <div class="row">
                        <img src="/assets/icons/chart.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card text-dark bg-white mb-3 m-3 border-0">
                <div class="card-body">
                    <div class="row">
                        <span></span>
                        <p class="card-text">Health Reports Document</p>
                    </div>
                    <div class="row">
                        <p class="card-text">01-07 June 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>