<!--MENU-->
<div class="menu">
    <div class="titleMenu"> {{ Menu }}</div>
    <ol>
        <li (click)="goHomePage()"><fa-icon [icon]="HomeIcon"> </fa-icon>  {{ HomeOption }} </li>
        <li (click)="goDashboardPage()"><fa-icon [icon]="ChartIcon"> </fa-icon> {{ DashboardOption }} </li>
        <li (click)="goPatientLocation()"><fa-icon [icon]="PatientIcon"> </fa-icon> {{ patientLocationOption }} </li>
    </ol>
    <p>{{ footer }}</p>
</div>

<!--redireccionar-->
<router-outlet></router-outlet>










