.header{
    background-color: rgb(254, 255, 255);
    margin-left: 321px;
    margin-top: -774px;
    height: 62px;
}

.heartPulseIconHeader{
    font-size: 14px;
}

.titleHeader{
    font-size: 20px;
    color: #7a7a7a;
    margin-left: 1090px;
    padding-top: 15px;
}

.welcome-container{
    background-color: white;
    margin-left: 340px;
    margin-top: 40px;
    margin-right: 800px;
    height: 140px;
    border-radius: 10px;
}

.container-location{
    background-color: white;
    height: 140px;
    margin-left: 748px;
    border-radius: 10px;
    margin-right: 410px;
    margin-top: -140px;
}

.patientInfo-container{
    background-color: rgb(254, 255, 255);
    margin-left: 1140px;
    margin-top: -158px;
    margin-right: 20px;
    height: 140px;
    border-radius: 10px;
}

.bloodPressure{
    background-color: rgb(254, 255, 255);  
    margin-left: 340px;
    width:18%;
    margin-top: 30px;
    border-radius: 10px;
    height: 140px;
}

.HeartRate{
    background-color: rgb(254, 255, 255);  
    margin-left: 645px;
    width:18%;
    margin-top: -139px;
    border-radius: 10px;
    height: 140px;
}

.temperature{
    background-color: rgb(254, 255, 255);
    margin-left: 950px;
    width:18%;
    margin-top: -139px;
    border-radius: 10px;
    height: 140px;
}

.oxygen{
    background-color: rgb(254, 255, 255);
    margin-left: 1255px;
    width:17%;
    margin-top: -139px;
    border-radius: 10px;
    height: 140px;
}

.graph{
    background-color: rgb(254, 255, 255);
    margin-left: 340px;
    width:45%;
    margin-top: 25px;
    border-radius: 10px;
    height: 315px;
}

canvas{
   position: relative;
   margin-top: -13px;
}

.titleGraph{
    text-align: center;
    padding-top: 9px;
    color: #7a7a7a;
}
.titleDate{
    text-align: center;
    margin-top: -15px;
    font-size:12px;
    color: #7a7a7a;
}

.reports{
    background-color: rgb(254, 255, 255);
    margin-left: 1060px;
    width:29.5%;
    margin-top: -315px;
    border-radius: 10px;
    height: 315px;
}

.container-graph{
    margin-left: 700px;
}

.bloodPressureIcon{
    color: #e45866;
    font-size: 65px;
    position: relative;
    top: 25px;
    left: 200px;
}

.bloodPressureIcon-good{
    color: rgba(124, 218, 124, 0.993);
    font-size: 65px;
    position: relative;
    top: 25px;
    left: 200px;
}

.bloodPressureTitle{
    margin-left: 18px;
    margin-top: -80px;
    color: #7a7a7a;
}

.bloodPressure-value{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 23px;
    /* color: rgba(124, 218, 124, 0.993);*/
    color: #e45866;
    font-weight: bold;
}

.bloodPressure-value-good{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 23px;
    color: rgba(124, 218, 124, 0.993);
    font-weight: bold;
}

.heartPulseIcon{
    color: #e45866;
    font-size: 65px;
    position: relative;
    top: 25px;
    left: 185px;
}

.heartPulseIcon-good{
    color: rgba(124, 218, 124, 0.993);
    font-size: 65px;
    position: relative;
    top: 25px;
    left: 185px;
}

.heartPulseTitle{
    margin-left: 18px;
    margin-top: -80px;
    color: #7a7a7a;
}

.heartRate-value{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 27px;
   /* color: rgba(124, 218, 124, 0.993);*/
    color: #e45866;
    font-weight: bold;
}

.heartRate-value-good{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 27px;
    color: rgba(124, 218, 124, 0.993);
    font-weight: bold;
}

.temperatureIcon{
    color: #e45866;
    font-size: 65px;
    position: relative;
    top: 25px;
    left: 190px;
}

.temperatureIcon-good{
    color: rgba(124, 218, 124, 0.993);
    font-size: 65px;
    position: relative;
    top: 25px;
    left: 190px;
}

.temperatureTitle{
    margin-left: 18px;
    margin-top: -80px;
    color: #7a7a7a;
}

.temperature-value{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 27px;
    /*color: rgba(124, 218, 124, 0.993);*/
    color: #e45866;
    font-weight: bold;
}

.temperature-value-good{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 27px;
    color: rgba(124, 218, 124, 0.993);
    font-weight: bold;
}

.oxygenIcon{
    color: #e45866;
    font-size: 60px;
    position: relative;
    top: 25px;
    left: 165px;
}

.oxygenIcon-good{
    color: rgba(124, 218, 124, 0.993);
    font-size: 60px;
    position: relative;
    top: 25px;
    left: 165px;
}

.oxygenTitle{
    margin-left: 18px;
    margin-top: -72px;
    color: #7a7a7a;
}

.oxygen-value{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 27px;
    /*color: rgba(124, 218, 124, 0.993);*/
    color: #e45866;
    font-weight: bold;
}

.oxygen-value-good{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 27px;
    color: rgba(124, 218, 124, 0.993);
    font-weight: bold;
}

.medicalReports{
    margin-top:0px;
    color: #7a7a7a;
    text-align: center;
    padding-top: 13px;
}

.medicalReportDescription{
    color: #7a7a7a;
    text-align: center;
}

.pdfIcon{
    padding-right: 15px;
    font-size:20px;
   
}

.excelIcon{
    padding-right: 10px;
    font-size:20px;
}

.buttonPdf{
    width: 85%;
    height: 50px;
    margin-left: 40px;
    margin-top:  15px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 1px solid #585CE4;
    background:#585CE4;
    color: white;
    font-size: 17px;
    text-align: center;
}

.buttonExcel{
    width: 85%;
    height: 50px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 1px solid #585CE4;
    background:#585CE4;
    color: white;
    font-size: 17px;
    text-align: center;
    display: block
}

table{
    font-size: 12px;
    text-align: center;
    width: 8%;
    float: left;
    border-collapse: collapse;
}

.company{
    margin-left: 365px;
}

.generic{
    margin-left:50px;
}

.generic-location{
    margin-left:550px;
    margin-top: -80px;
}

.generic-bed{
    margin-left:550px;
}

.tableDate{
    margin-left:50px;
}

td, th{
    padding: 8px;
    border: 1px solid #dee2e6;
    font-size: 12px;
}

th{
    background-color: #585CE4;
    color: #fff;
}

.pdfStructure{
    margin-top: 190px;
    visibility: collapse;
}

.amountReport{
    font-size: 14px;
    color: #7a7a7a;
    margin-left: 365px;
    margin-top: -40px;
}

.userIcon{
    font-size: 27px;
    margin-left: 15px;
    padding-right: 20px;
    color: #585CE4;
}

.bedIcon{
    font-size: 27px;
    margin-left: 8px;
    padding-right: 13px;
    color: #585CE4;
}

.patientName{
    font-size: 18px;
    color: #7a7a7ae2;
    margin-top: -20px;
    padding-top: 15px;
}

.patientStatus{
    margin-left: -6px;
    font-size: 18px;
    color: #7a7a7ae2;
    margin-top: -6px;
    padding-top: 10px;
}

.Normal{
   /* color: rgba(124, 218, 124, 0.993);*/
   color: #e45866;
}

.normal-good{
    color: rgba(124, 218, 124, 0.993);
}

.patientRoom{
    margin-left: 10px;
    font-size: 18px;
    color: #7a7a7ae2;
    margin-top: -125px;
    padding-top: 15px;
}

.patientYearsOld{
    margin-left: 8px;
    font-size: 18px;
    color: #7a7a7ae2;
    margin-top: -10px;
    padding-top: 10px;
}

.bloodType{
    font-size: 18px;
    color: #7a7a7ae2;
    padding-top: 10px;
    padding-left: 30px;
}

.bloodTypeIndicador{
    font-weight: bold;
    font-size: 55px;
    padding-left: 170px;
    padding-top: -50px;
    color: #585CE4;
}

.patientMenu{
    margin-right: 1220px;
    margin-top: -380px;
    margin-left: 5px;
}

.patientIcon{
   /* color:rgb(45, 189, 53); */
    color: #585de4e3;
    padding-right: 10px;
    font-size: 22px;
    margin-left: 15px;
}

.patientIcon-good{
     color:rgb(45, 189, 53);
     padding-right: 10px;
     font-size: 22px;
     margin-left: 15px;
 }

.patientIcon2{
    color:rgb(189, 74, 45);
    padding-right: 10px;
    font-size: 22px;
    margin-left: 15px;
}

.patientIcon3{
    color:rgb(110, 189, 45);
    padding-right: 10px;
    font-size: 22px;
    margin-left: 15px;
}

.patientIcon4{
    color:rgb(187, 189, 45);
    padding-right: 10px;
    font-size: 22px;
    margin-left: 15px;
}

.titlePatientStatus{
    margin-left: 16px;
    color: #7a7a7aa8;
}

.patient1:hover{
    background-color: #e6e6e675;
}

.patient2:hover{
    background-color: #e6e6e675;
}

.patient3:hover{
    background-color: #e6e6e675;
}

.patient4:hover{
    background-color: #e6e6e675;
}

.patient1{
    color: #7a7a7aa8;
    list-style: none;
    margin-left: -38px;
}

.patient2{
    color: #7a7a7aa8;
}

.patient3{
    color: #7a7a7aa8;
}

.patient4{
    color: #7a7a7aa8;
}

/*==============MEDIDA PARA TABLET================*/
/*================================================*/
@media screen and (max-width: 1440px){
    .header{
        margin-top: -976px;
        height: 72px;
    }

    .titleHeader{
        margin-left: 960px;
        font-size: 25px;
    }

    .titlePatientStatus{
        margin-left: 16px;
        color: #7a7a7aa8;
        font-size: 22px;
    }

    .patientIcon{
        /* color:rgb(45, 189, 53); */
         color: #e45866;
         padding-right: 10px;
         font-size: 30px;
         margin-left: 15px;
     }

     .patientIcon-good{
        color:rgb(45, 189, 53);
        padding-right: 10px;
        font-size: 30px;
        margin-left: 15px;
    }

    .patient1{
        width: 190%;
        color: #7a7a7aa8;
        list-style: none;
        margin-left: -38px;
        font-size: 19px;
    }

    .patientIcon{
        /* color:rgb(45, 189, 53); */
         color: #585de4e3;
         padding-right: 10px;
         font-size: 22px;
         margin-left: 15px;
     }
     
    .welcome-container{
        background-color: white;
        width: 28%;
        margin-left: 370px;
        margin-top: 50px;
        margin-right: 800px;
        height: 170px;
        border-radius: 10px;
    }

    .userIcon{
        font-size: 35px;
        margin-left: 25px;
        padding-right: 20px;
        color: #585CE4;
    }

    .patientName{
        font-size: 22px;
        color: #7a7a7ae2;
        margin-top: -25px;
        padding-top: 15px;
    }

    .patientStatus{
        margin-left: -6px;
        font-size: 22px;
        color: #7a7a7ae2;
        margin-top: -6px;
        padding-top: 10px;
    }

    .container-location{
        background-color: white;
        height: 170px;
        width: 23.5%;
        margin-left: 786px;
        border-radius:10px;
        margin-right: 410px;
        margin-top: -170px;
    }

    .patientRoom{
        margin-left: 15px;
        font-size: 22px;
        color: #7a7a7ae2;
        margin-top: -125px;
        padding-top: 15px;
    }

    .bedIcon{
        font-size: 35px;
        margin-left: 18px;
        padding-right: 13px;
        color: #585CE4;
    }

    .patientYearsOld{
        font-size: 22px;
        color: #7a7a7ae2;
        margin-top: -10px;
        padding-top: 10px;
    }

    

    .patientInfo-container{
        background-color: rgb(254, 255, 255);
        margin-left: 1140px;
        margin-top: -191px;
        margin-right: 20px;
        height: 169px;
        border-radius: 10px;
    }

    .bloodType{
        font-size: 22px;
        color: #7a7a7ae2;
        padding-top: 28px;
        padding-left: 30px;
    }

    .bloodTypeIndicador{
        font-weight: bold;
        font-size: 55px;
        padding-left: 120px;
        position: absolute;
        margin-top: -20px;
        color: #585CE4;
    }

    .bloodPressure{
        background-color: rgb(254, 255, 255);  
        margin-left: 370px;
        width:17.5%;
        margin-top: 30px;
        border-radius: 10px;
        height: 200px;
    }

    .HeartRate{
        background-color: rgb(254, 255, 255);  
        margin-left: 640px;
        width:17.5%;
        margin-top: -200px;
        border-radius: 10px;
        height: 200px;
    }

    .temperature{
        background-color: rgb(254, 255, 255);
        margin-left: 908px;
        width:17.5%;
        margin-top: -199px;
        border-radius: 10px;
        height: 198px;
    }

    .oxygen{
        background-color: rgb(254, 255, 255);
        margin-left: 1175px;
        width:17%;
        margin-top: -197px;
        border-radius: 10px;
        height: 196px;
    }

    .bloodPressureTitle{
        margin-left: 50px;
        margin-top: -80px;
        font-size: 22px;
        color: #7a7a7a;
    }

    .bloodPressureIcon{
        color: #e45866;
        font-size: 65px;
        position: relative;
        top: 45px;
        left: 115px;
    }
    
    .bloodPressureIcon-good{
        color: rgba(124, 218, 124, 0.993);
        font-size: 65px;
        position: relative;
        top: 45px;
        left: 115px;
    }

    .bloodPressure-value{
        margin-left: 40px;
        margin-top: 80px;
        font-size: 35px;
        /* color: rgba(124, 218, 124, 0.993);*/
        color: #e45866;
        font-weight: bold;
    }

    .bloodPressure-value-good{
        margin-left: 40px;
        margin-top: 80px;
        font-size: 35px;
        color: rgba(124, 218, 124, 0.993);
        font-weight: bold;
    }

    .heartPulseTitle{
        margin-left: 70px;
        margin-top: -80px;
        font-size: 22px;
        color: #7a7a7a;
    }
    
    .temperatureTitle{
        margin-left: 55px;
        margin-top: -80px;
        color: #7a7a7a;
        font-size: 22px;
    }

    .oxygenTitle{
        margin-left: 20px;
        margin-top:  -80px;
        font-size: 22px;
        color: #7a7a7a;
    }

    .heartPulseIcon{
        color: #e45866;
        font-size: 65px;
        position: relative;
        top: 45px;
        left: 100px;
    }

    .heartPulseIcon-good{
        color: rgba(124, 218, 124, 0.993);
        font-size: 65px;
        position: relative;
        top: 45px;
        left: 100px;
    }

    .heartRate-value-good{
        margin-left: 65px;
        margin-top: 80px;
        font-size: 35px;
        color: rgba(124, 218, 124, 0.993);
        font-weight: bold;
    }

    .heartRate-value{
        margin-left: 65px;
        margin-top: 80px;
        font-size: 35px;
       /* color: rgba(124, 218, 124, 0.993);*/
        color: #e45866;
        font-weight: bold;
    }

    .temperatureIcon-good{
        color: rgba(124, 218, 124, 0.993);
        font-size: 65px;
        position: relative;
        top: 45px;
        left: 115px;
    }

    .temperatureIcon{
        color: #e45866;
        font-size: 65px;
        position: relative;
        top: 45px;
        left: 115px;
    }

    .temperature-value-good{
        margin-left: 85px;
        margin-top: 80px;
        font-size: 35px;
        color: rgba(124, 218, 124, 0.993);
        font-weight: bold;
    }

    .temperature-value{
        margin-left: 85px;
        margin-top: 80px;
        font-size: 35px;
        /*color: rgba(124, 218, 124, 0.993);*/
        color: #e45866;
        font-weight: bold;
    }

    .oxygenIcon-good{
        color: rgba(124, 218, 124, 0.993);
        font-size: 65px;
        position: relative;
        top: 45px;
        left: 90px;
    }

    .oxygenIcon{
        color: #e45866;
        font-size: 65px;
        position: relative;
        top: 45px;
        left: 90px;
    }

    .oxygen-value-good{
        margin-left: 99px;
        margin-top: 80px;
        font-size: 35px;
        color: rgba(124, 218, 124, 0.993);
        font-weight: bold;
    }

    .oxygen-value{
        margin-left: 99px;
        margin-top: 80px;
        font-size: 35px;
        /*color: rgba(124, 218, 124, 0.993);*/
        color: #e45866;
        font-weight: bold;
    }

    .graph{
        background-color: rgb(254, 255, 255);
        margin-left: 370px;
        width:45%;
        margin-top: 25px;
        border-radius: 10px;
        height: 400px;
    }

    .titleGraph{
        text-align: center;
        padding-top: 10px;
        color: #7a7a7a;
        font-size: 22px;
    }

    .titleDate{
        text-align: center;
        margin-top: -28px;
        padding-bottom: 15px;
        font-size: 17px;
        color: #7a7a7a;
    }

    canvas{
        position: relative;
        margin-top: -30px;
        height: 80px;
     }


     .reports{
        background-color: rgb(254, 255, 255);
        margin-left: 1035px;
        width:26.5%;
        margin-top: -400px;
        border-radius: 10px;
        height: 400px;
    }

    .medicalReports{
        margin-top:0px;
        color: #7a7a7a;
        text-align: center;
        padding-top: 13px;
        font-size: 22px;
    }

   
    .medicalReportDescription{
        color: #7a7a7a;
        text-align: center;
        font-size: 17px;
        margin-top: -10px;
        padding-bottom: 20px;
    }

    .buttonPdf{
        width: 85%;
        height: 70px;
        margin-left: 35px;
        margin-top:  15px;
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        border: 1px solid #585CE4;
        background:#585CE4;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .buttonExcel{
        width: 85%;
        height: 70px;
        margin-left: 35px;
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        border: 1px solid #585CE4;
        background:#585CE4;
        color: white;
        font-size: 20px;
        text-align: center;
        display: block
    }

    .pdfIcon{
        padding-right: 15px;
        font-size:25px;  
    }

    .excelIcon{
        padding-right: 10px;
        font-size:25px;
    }

    .patientMenu{
        margin-right: 1220px;
        margin-top: -520px;
        margin-left: 5px;
    }

    
}

