<!--Div del header-->
<div class="header">
    <p class="titleHeader">{{headerTitle}}</p>
</div>

<!--Div del mensaje de bienvenida-->
<div class="welcome-container">
    <p class="patientName"><fa-icon class="userIcon"[icon]="userIcon"> </fa-icon>{{patientName}}</p>
    <p class="patientStatus"><fa-icon class="userIcon"[icon]="statusIcon"> </fa-icon>{{statusTitle}}<a class="Normal" id="patientStatus">{{patientStatus}}</a></p>
</div>

<div class="container-location">
    <p class="patientRoom"><fa-icon class="userIcon"[icon]="locationIcon"> </fa-icon>{{location}} <a class="" id="patientLocation">{{'Room ' + locationValue}}</a></p>
    <p class="patientYearsOld"><fa-icon class="bedIcon"[icon]="bedIcon"> </fa-icon>{{bedNumber}} <a class="" id="bedNumber">{{bedNumberValue}}</a></p>
</div>


<!--Div de la informacion del paciente-->
<div class="patientInfo-container">
    <p class="bloodType">{{bloodTypeTitle}}</p>
    <a class="bloodTypeIndicador">{{bloodTypeValue}}</a>
</div>

<!--Div de bloodPressure-->
<div class="bloodPressure">
    <fa-icon class="bloodPressureIcon" id="bloodPressureIcon" [icon]="bloodPressureIcon"> </fa-icon>
    <p class="bloodPressureTitle">{{bloodPressureTitle}}</p>
    <p class="bloodPressure-value" id="bloodPressure-value">{{bloodPressure + ' ' + 'mmHg'}}</p>
</div>

<!--Div del heartRate-->
<div class="HeartRate">
   <fa-icon class="heartPulseIcon" id="heartPulseIcon" [icon]=" heartPulseIcon"></fa-icon>
   <p class="heartPulseTitle">{{heartPulseTitle}}</p>
   <p class="heartRate-value" id="heartRate-value">{{heartRate + ' ' + 'lmp'}}</p>
</div>

<!--Div del temperature-->
<div class="temperature">
   <fa-icon class="temperatureIcon" id="temperatureIcon" [icon]=" temperatureIcon"></fa-icon>
    <p class="temperatureTitle">{{temperatureTitle}}</p>
    <p class="temperature-value" id="temperature-value">{{temperature + ' ' + '°F' }} </p>
</div>

<!--Div del oxygen-->
<div class="oxygen">
   <fa-icon class="oxygenIcon" id="oxygenIcon" [icon]="oxygenIcon"></fa-icon>
   <p class="oxygenTitle">{{oxygenTitle}}</p>
   <p class="oxygen-value" id="oxygen-value">{{oxygen + ' ' + '%'}}</p>
</div>

<!--Div de la grafica-->
<div class="graph">
    <p class="titleGraph"> {{heartRateTitle}}</p>
    <p class="titleDate"> {{todayWithPipe}}</p>
    <div style="display: block">
        <canvas  *ngIf="this.loadData"  baseChart height="110" 
          [datasets]="chartData"
          [options]="options"
          [labels]="labels"
          [type]="'bar'">
        </canvas>
    </div>
</div>

<!--Div de los reportes -->
<div class="reports">
    <p class="medicalReports">{{ reportTitle }}</p>
    <p class="medicalReportDescription">{{ reportDescription }}</p>
    <button type="button" class="buttonPdf" id="pdfButton"><fa-icon class="pdfIcon" [icon]="pdfIcon"></fa-icon>{{buttonTitlePdf}} </button>
    <button type="button" class="buttonExcel" (click)="printExcel()"><fa-icon class="excelIcon" [icon]="excelIcon"></fa-icon> {{buttonTitleExcel}}</button>
</div>

<!--Div de los pacientes en menu principal-->
<div class="patientMenu">
    <p class="titlePatientStatus">{{patientStatusMenu}}</p>
    <ol id="patients">
      <li class="patient1" *ngFor="let patient of patientNameArray" (click)="loadPatient(patient)"><fa-icon class="patientIcon" [icon]="patientIcon" id="patientIcon"></fa-icon>{{patient}}</li>
    </ol>
  <!---->
  <!--  <p class="patient1"><fa-icon class="patientIcon" [icon]="patientIcon" id="patientIcon"></fa-icon>{{patientName}}</p> -->
  <!--  <p class="patient2"><fa-icon class="patientIcon2" [icon]="patientIcon"></fa-icon>Ivan Villanueva Sanchez</p>  -->
  <!--  <p class="patient3"><fa-icon class="patientIcon3" [icon]="patientIcon"></fa-icon>Claudia Angulo Garcia</p>    -->
  <!--  <p class="patient4"><fa-icon class="patientIcon4" [icon]="patientIcon"></fa-icon>Marina Guarneros Sanchez</p> -->
</div>


<!--Div con la estructura del pdf y excel-->
<div class="pdfStructure">
    <form id="pdfFormat">
        <div>
        <div id="medicalInfo">
          <p class="company"> {{company}}</p>
          <p class="generic">Patient: {{patientName}} </p>
          <p class="generic">Status: {{patientStatus}}</p>
          <!--<p class="generic-location">Location: {{'Room ' + locationValue}} </p> -->
          <!--<p class="generic-bed">Bed Number: {{bedNumberValue}}  </p> -->
        </div>
          <table class="tableDate" id="tableDate">
            <thead>
              <tr>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let date of dateArray">
                <td class="x"> {{date}} </td>
              </tr>
            </tbody>
          </table>
          <table id="tableMinute">
            <thead>
              <tr>
                <th>Minute</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let minute of hourArray">
                <td class="x"> {{minute}} </td>
              </tr>
            </tbody>
          </table>
          <table id="tableBloodPressure">
            <thead>
              <tr>
                <th>Blood Pressure</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let blood of bloodPressureArray">
                <td class="x"> {{blood}} </td>
              </tr>
            </tbody>
          </table>
          <table id="tableHeartRate">
            <thead>
              <tr>
                <th>Heart Rate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let heartRate of heartRateArray">
                <td class="x"> {{heartRate}} </td>
              </tr>
            </tbody>
          </table>
          <table id="tableTemperature">
            <thead>
              <tr>
                <th>Temperature</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let temperature of temperatureArray">
                <td class="x"> {{temperature}} </td>
              </tr>
            </tbody>
          </table>
          <table id="tableOxygen">
            <thead>
              <tr>
                <th>Oxygen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let oxygen of oxygenArray">
                <td class="x"> {{oxygen}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
</div>

<!--Div con la estructura del pdf y excel PACIENTE SIMULADO-->
<div class="pdfStructure">
  <form id="pdfFormatSimulated">
      <div>
      <div id="medicalInfo">
        <p class="company"> {{company}}</p>
        <p class="generic">Patient: {{patientName}} </p>
        <p class="generic">Status: {{patientStatus}}</p>
        <!--<p class="generic-location">Location: {{'Room ' + locationValue}} </p> -->
        <!--<p class="generic-bed">Bed Number: {{bedNumberValue}}  </p> -->
      </div>
        <table class="tableDate" id="tableDate">
          <thead>
            <tr>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let date of dateArray">
              <td class="x"> {{date}} </td>
            </tr>
          </tbody>
        </table>
        <table id="tableMinute">
          <thead>
            <tr>
              <th>Minute</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let minute of hourArray">
              <td class="x"> {{minute}} </td>
            </tr>
          </tbody>
        </table>
        <table id="tableBloodPressure">
          <thead>
            <tr>
              <th>Blood Pressure</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let blood of bloodPressureArraySimulated">
              <td class="x"> {{blood}} </td>
            </tr>
          </tbody>
        </table>
        <table id="tableHeartRate">
          <thead>
            <tr>
              <th>Heart Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let heartRate of heartRateArraySimulated">
              <td class="x"> {{heartRate}} </td>
            </tr>
          </tbody>
        </table>
        <table id="tableTemperature">
          <thead>
            <tr>
              <th>Temperature</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let temperature of temperatureArraySimulated">
              <td class="x"> {{temperature}} </td>
            </tr>
          </tbody>
        </table>
        <table id="tableOxygen">
          <thead>
            <tr>
              <th>Oxygen</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let oxygen of oxygenArraySimulated">
              <td class="x"> {{oxygen}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
</div>