/*Fondo de pantalla principal*/
.image{
    height:47.1em; background-size:cover; width:auto;
    background-image:url(/../assets/images/mainPage.jpg);
    background-position:50% 50%;
    margin-left: 320px;
    margin-top: -754px;
  }

.mainTitle{
   width: 40%;
   font-size: 45px;
   margin-left: 380px;
   margin-top: -640px;
}

.mainDescription{
  margin-left: 380px;
  width: 40%;
  font-size: 20px;
  text-align: justify;
  color: gray;
}
  
fa-icon{
  color: #585CE4;
}

/*==============MEDIDA PARA TABLET================*/
/*================================================*/
@media screen and (max-width: 1440px){
  .image{
    margin-left: 346px;
    margin-top: -953px;
    height:60em; background-size:cover; width:auto;
  }

  .mainTitle{
    margin-top: -835px;
    font-size: 60px;
  }

  fa-icon{
    font-size: 70px;
  }

  .mainDescription{
    width: 44%;
    text-align: justify;
    font-size: 21px;
  }

}